@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
/* sass variables */
/* navbar */
div.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1 !important;
}

/* body */
body {
  margin: 0;
  min-width: 100%;
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #636161 !important;
}

code {
  font-family: "Julius Sans One", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/* titles */
h2.chakra-heading {
  letter-spacing: 0.5vh !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 100 !important;
  color: #636161 !important;
  word-wrap: nowrap !important;
}

/* hero image */
img.fade-in.css-11ze7cv {
  width: 80vh !important;
}

/* shop button */
button.chakra-button {
  background-color: #888888;
  color: white;
}

/* image text containers */
img.chakra-image.css-0 {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 50%;
}

/* ---- carousel ---- */
p.carousel-status {
  display: none;
}

/* entire component div */
div.carousel-root {
  z-index: -1 !important;
  margin-top: 20vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

/* main image divs */
div.carousel.carousel-slider {
  width: 30% !important;
}

div.css-13y17wt {
  padding: 2vh !important;
}

/* text transform */
p.chakra-text.productTitle {
  text-transform: uppercase;
  font-size: 0.9rem;
}

ul.control-dots {
  display: none !important;
}

/* arrows */
button.control-arrow {
  z-index: 0 !important;
  font-size: 1vh !important;
  padding: calc(2px+0.2vh) !important;
  background: #e9e9e7 !important;
  opacity: 1 !important;
  color: #e9e9e7 !important;
}

button.control-arrow:hover {
  background: #888888 !important;
}

/* footer */
div.footer {
  background-color: #e9e9e7 !important;
}

/* footer image */
img.footerLogo {
  -o-object-fit: contain;
     object-fit: contain;
  height: calc(10px + 5vh);
}

img.scrollUpButton {
  height: calc(10px + 5vh);
}

/* navMenu */
div.chakra-modal__body.css-79z5gx {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: 0 auto !important;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-8 11:54:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* MEDIA QUERIES */
/* image with text rearrange */
@media screen and (max-width: 600px) {
  div.imageTextDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.textDiv.css-1b0it1t {
    width: 100% !important;
  }
  img.chakra-image.css-0 {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
  }
}

/* footer images disappear */
@media screen and (max-width: 805px) {
  img.footerLogo {
    display: none;
  }
  img.footerImg {
    display: none;
  }
}

@media screen and (max-width: 365px) {
  body {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */