@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

/* sass variables */
$textColor: #636161;
$buttonColor: #888888;
$whiteText: white;
$headerFooterColor: whitesmoke;

/* navbar */
div.navBar {
  position: sticky;
  top: 0;
  z-index: 1 !important;
}
/* body */
body {
  position: absolute;
  height: 100%;
  margin: 0;
  min-width: 100%;
  font-family: "Raleway", sans-serif !important;
  width: 100% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor !important;
}

code {
  font-family: "Julius Sans One", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* titles */
h2.chakra-heading {
  letter-spacing: 0.5vh !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 100 !important;
  color: $textColor !important;
  word-wrap: nowrap !important;
  text-align: center;
}

/* chakra h2 biggest heading to be overwritten */
.css-i003ak {
  font-size: 2em !important;
}
/* 2nd headings */
.css-1xrc61c {
  font-size: 1.3em !important;
}

/* 3rd headings */
.css-u85faf {
  font-size: 1.2em !important;
}

/* main text */

/* hero image */
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

img.fade-in.css-11ze7cv {
  width: 80vh !important;
}

/* shop button */
button.chakra-button {
  background-color: $buttonColor;
  color: $whiteText;
}

/* image text containers */
img.chakra-image.css-0 {
  object-fit: contain;
  max-width: 50%;
}

/* ---- carousel ---- */
p.carousel-status {
  display: none;
}

/* entire component div */
div.carousel-root {
  z-index: -1 !important;
  margin-top: 20vh !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
}
/* .carousel.carousel-slider .control-arrow:hover {
    background: rgba(85, 84, 84, 0.2)!important;
} */
/* main image divs */
div.carousel.carousel-slider {
  width: 30% !important;
}

div.css-13y17wt {
  padding: 2vh !important;
}

/* text transform */
p.chakra-text.productTitle {
  text-transform: uppercase;
  font-size: 0.9rem;
}

ul.control-dots {
  display: none !important;
}

/* arrows */
button.control-arrow {
  z-index: 0 !important;
  font-size: 1vh !important;
  padding: calc(2px+0.2vh) !important;
  background: #88888857 !important;
  opacity: 1 !important;
}
control-arrow control-prev{
  z-index: 0 !important;

}


button.control-arrow:hover {
  background: $buttonColor !important;
}

/* div with image in carousel */
div.css-13y17wt{
  z-index: -1000 !important;

}

/* carousel end */
/* footer */
div.footer {
  background-color: $headerFooterColor !important;
}

/* footer image */
img.footerLogo {
  object-fit: contain;
  height: calc(10px + 5vh);
}

img.scrollUpButton {
  height: calc(10px + 5vh);
}

/* navMenu */
.chakra-slide.chakra-modal__content.css-6e3h0h {
  background: $buttonColor !important ;
}

/* arrow */
.css-dy6fgq-MuiButtonBase-root-MuiListItemButton-root:hover svg,
.css-dy6fgq-MuiButtonBase-root-MuiListItemButton-root:focus svg {
  opacity: 1 !important;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1wb5pax-MuiSvgIcon-root:focus {
  color: $textColor !important;
  opacity: 1 !important;
}
.css-1wb5pax-MuiSvgIcon-root {
  color: $textColor;
}
.css-1bfbv24-MuiPaper-root {
  color: $textColor !important;
}
.css-wty661-MuiSvgIcon-root:active {
  color: $textColor !important;
}

.css-wty661-MuiSvgIcon-root:hover {
  color: $textColor !important;
  opacity: 1 !important;
}

div.chakra-modal__body.css-79z5gx {
  display: flex !important;
  margin: 0 auto !important;
}
.css-10hburv-MuiTypography-root {
  font-size: 0.8rem !important;
  letter-spacing: 0.1vh !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 100 !important;
  color: $whiteText !important;
  word-wrap: nowrap !important;
}

div.css-1bfbv24-MuiPaper-root {
  background-color: $buttonColor !important;
}

.css-1mttud9 {
  background-color: $buttonColor !important;
}

/* navMenu end */

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s
    both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-1-8 11:54:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* MEDIA QUERIES */

/* image with text rearrange */
@media screen and (max-width: 900px) {
  /* hero image  */
  img.fade-in {
    width: 100%;
  }

  div.imageTextDiv {
    flex-direction: column !important;
  }
  div.textDiv.css-1b0it1t {
    width: 100% !important;
  }
  img.chakra-image.css-0 {
    object-fit: contain;
    max-width: 100%;
  }
}

/* have to overwrite the chakra ui rules : */
@media screen and (min-width: 48em) {
  .css-1a4d118 {
    font-size: 3vh !important;
  }
}

@media screen and (min-width: 30em) {
  /* top image with text  */
  .css-zgv8k7 {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
  /* bottom image with text  */
  .css-kux88w {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 50em) {
  /* top image with text  */
  .css-zgv8k7 {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
  /* bottom image with text  */
  .css-kux88w {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 901px) {
  .css-zgv8k7 {
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
  }
  .css-kux88w {
    -webkit-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
}

/* footer images disappear */
@media screen and (max-width: 805px) {
  img.footerLogo {
    display: none;
  }
  img.footerImg {
    display: none;
  }
}

