@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
/* sass variables */
/* navbar */
div.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1 !important;
}

/* body */
*,
*::before,
::after {
  word-wrap: normal !important;
}

body {
  position: absolute;
  height: 100%;
  margin: 0;
  min-width: 100%;
  font-family: "Raleway", sans-serif !important;
  width: 100% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #636161 !important;
}

p {
  white-space: pre-line !important;
}

code {
  font-family: "Julius Sans One", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* titles */
h2.chakra-heading {
  letter-spacing: 0.5vh !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 100 !important;
  color: #636161 !important;
  word-wrap: nowrap !important;
  text-align: center;
}

/* third heading homepage  */
p.chakra-text.css-djdsir {
  font-size: 1.1em !important;
  padding-top: 4vh;
}

/* hero image */
.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

img.fade-in.css-11ze7cv {
  width: 80vh !important;
}

/* shop button */
button.chakra-button {
  background-color: #888888;
  color: white;
}

/* image text containers */
img.chakra-image.css-0 {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 50%;
}

/* ---- carousel ---- */
/* hidden thumb control div */
div.thumbs-wrapper.axis-vertical {
  display: none;
}

p.carousel-status {
  display: none;
}

/* end of hidden components */
.carousel .slide img {
  width: 50% !important;
}

div.carousel.carousel-slider {
  max-width: 50vh !important;
}

/* entire component div */
div.carousel-root {
  z-index: -1 !important;
  margin-top: 10vh !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

/* all products */
/* indiv product div */
div.indivProductDiv {
  padding: 10vh !important;
}

/* text transform */
p.chakra-text.productTitle {
  text-transform: uppercase;
  font-size: 0.9rem;
}

ul.control-dots {
  display: none !important;
}

/* arrows */
button.control-arrow {
  z-index: 0 !important;
  font-size: 1em !important;
  padding: 0.2vh !important;
  background: #88888857 !important;
  opacity: 1 !important;
}

control-arrow control-prev {
  z-index: 0 !important;
}

.carousel.slider-wrapper {
  width: 50%;
}

button.control-arrow:hover {
  background: #888888 !important;
}

/* div with image in carousel */
div.css-13y17wt {
  z-index: -1000 !important;
}

/* carousel end */
/* footer */
div.footer {
  background-color: whitesmoke !important;
}

/* footer image */
img.footerLogo {
  -o-object-fit: contain;
     object-fit: contain;
  height: calc(10px + 5vh);
}

img.scrollUpButton {
  height: calc(10px + 5vh);
}

div.footer {
  font-size: calc(3px + 0.6em) !important;
}

/* middle links */
/* div.chakra-stack.css-1ky8oes{
} */
/* navMenu */
.chakra-slide.chakra-modal__content.css-6e3h0h {
  background: #888888 !important;
}

/* arrow */
.css-dy6fgq-MuiButtonBase-root-MuiListItemButton-root:hover svg,
.css-dy6fgq-MuiButtonBase-root-MuiListItemButton-root:focus svg {
  opacity: 1 !important;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1wb5pax-MuiSvgIcon-root:focus {
  color: #636161 !important;
  opacity: 1 !important;
}

.css-1wb5pax-MuiSvgIcon-root {
  color: #636161;
}

.css-1bfbv24-MuiPaper-root {
  color: #636161 !important;
}

.css-wty661-MuiSvgIcon-root:active {
  color: #636161 !important;
}

.css-wty661-MuiSvgIcon-root:hover {
  color: #636161 !important;
  opacity: 1 !important;
}

div.chakra-modal__body.css-79z5gx {
  /*   display: flex !important;
 */
  margin: 0 auto !important;
}

/* all main text font size */
p.chakra-text,
a {
  font-size: 1em !important;
}

/* navmenu text */
.css-10hburv-MuiTypography-root {
  font-size: 0.8em !important;
  letter-spacing: 0.1vh !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 100 !important;
  color: white !important;
  word-wrap: nowrap !important;
}

div.css-1bfbv24-MuiPaper-root {
  background-color: #888888 !important;
}

.css-1mttud9 {
  background-color: #888888 !important;
}

/* navMenu end */
@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
  animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-1-8 11:54:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* MEDIA QUERIES */
/* image with text rearrange */
@media screen and (max-width: 900px) {
  /* hero image  */
  img.fade-in {
    width: 100%;
  }
  div.imageTextDiv {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  div.textDiv.css-1b0it1t {
    width: 100% !important;
  }
  img.chakra-image.css-0 {
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
  }
}

/* have to overwrite the chakra ui rules : */
@media screen and (min-width: 48em) {
  .css-1a4d118 {
    font-size: 3vh !important;
  }
}

/* title font size when very small width */
@media screen and (max-width: 255px) {
  h2.chakra-heading {
    font-size: 1.2em !important;
  }
  h2.chakra-heading.css-1y3e0sk {
    font-size: 0.8em !important;
  }
  div.carouselDiv {
    padding: 0vh !important;
  }
}

@media screen and (min-width: 30em) {
  /* top image with text  */
  .css-zgv8k7 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  /* bottom image with text  */
  .css-kux88w {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  /* allproduct catalogue grid resize   */
  .css-1hyxrix {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (min-width: 50em) {
  /* top image with text  */
  .css-zgv8k7 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  /* bottom image with text  */
  .css-kux88w {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

/* allproduct catalogue grid resizes */
@media screen and (min-width: 1248px) {
  .css-1hyxrix {
    -ms-grid-columns: (1fr)[4] !important;
        grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media screen and (max-width: 840px) {
  .css-1hyxrix {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 500px) {
  .css-1hyxrix {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  div.indivProductDiv {
    padding-left: 20vh !important;
    padding-right: 20vh !important;
    padding-bottom: 0vh !important;
    padding-top: 0vh !important;
  }
  div.carouselDiv {
    padding-bottom: 10vh;
  }
}

@media screen and (max-width: 400px) {
  .css-1hyxrix {
    display: unset !important;
  }
  div.indivProductDiv {
    padding: 8vh !important;
  }
}

/* allproduct catalogue grid resize end   */
/* image with text homepage resizing */
@media screen and (min-width: 901px) {
  .css-zgv8k7 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .css-kux88w {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
  }
}

/* footer */
/*  images to disappear */
@media screen and (max-width: 805px) {
  img.footerLogo,
  div.footerLogoDiv,
  div.footerImgDiv {
    display: none;
  }
  img.footerImg {
    display: none;
  }
  div.footerGrid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* direction for grid to change to column  */
@media screen and (max-width: 374px) {
  div.footerGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */